@import "tailwindcss";

@tailwind utilities;



@layer components {
    .login{
      @apply bg-[#0A3DAB] hover:bg-[#F9C910] hover:text-black text-white px-6 py-2 rounded-md text-sm font-semibold transition
    }

    .donate{
      @apply bg-[#F9C910] hover:bg-[#0A3DAB] hover:text-white text-black px-6 py-2 rounded-md text-sm font-semibold transition
    }
    .social{
        @apply text-gray-400 hover:text-white
    }
/* styles.css */
.link {
  @apply block w-full md:inline-block md:w-auto text-black text-lg px-3 py-2 rounded-md transition-colors duration-300 hover:bg-[#E0ECFF] hover:text-[#0A3DAB];
}
.shortlink{
  @apply text-sm font-semibold mb-2  tracking-wider text-[gray] hover:text-white mb-20
}

}
/* @layer base{
    h3{
       @apply text-sm font-semibold mb-2 uppercase tracking-wider text-gray-300
    }
    h4{
        @apply text-sm font-semibold mb-2 uppercase tracking-wider text-gray-300
     }
    } */



:root {

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body {
  margin: 0;


}

